@import "settings";
@import "foundation";

$logo-blue: #9CC;
$logo-red: #C33;
$logo-yellow: #ff3;

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

h3 {
  background-color: $logo-blue;
  width: 100%;
}

.logo-section {
  height: 600px;
  margin-top: 0%;
  padding: 0;
}

// .links-section {
//   margin-top: 14%;
// }

.button {
  border-radius: 20px;
  height: 80px;
  width: 120px;
}

.tag-line {
  font-family: 'Heebo', sans-serif;
  width: 100%;
}

.about-me,
.about-me-text {
  font-family: 'Heebo', sans-serif;
  width: 100%;
}

.goals,
.goals-text {
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  width: 100%;
}
