@import "settings";
@import "foundation";

$logo-blue: #9CC;
$logo-red: #C33;
$logo-yellow: #ff3;
$black: #000;
$gray: #a8a8a8;
$white: #fff;

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

header {
  background-color: $logo-blue;
  height: auto;
  width: 100%;
}

h1, .email-text, .ea-header, .button-links {
  color: $white;
}

.header-contents {
  margin-right: 5%;
  padding: 1%;
  width: 90%;
}

.titles {
  margin-right: 5%;
  min-height: 250px;
  padding: 0;
  width: 90%;
}

.ea-header {
  float: left;
  margin: 0;
  width: 50%;
}

.email-address {
  float: right;
  height: 100%;
  text-align: right;
  width: 50%;
}

.button, .ea-header {
  font-family: 'Heebo', sans-serif;
}

.grid-content {
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
.enter-button {
  font-family: 'Old Standard TT', serif;
}

p {
  font-size: 22px;
}

h3 {
  border-bottom-color: $logo-blue;
  border-bottom-style: solid;
  color: $gray;
  height: auto;
  margin-top: 2%;
  width: 100%;
}

h2 {
  color: $gray;
  font-style: italic;
}

.logo-section {
  height: 600px;
  margin-top: -10%;
  padding-bottom: 0;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
  text-align: center;
}

.enter-button {
  background-color: $white;
  border-color: $logo-blue;
  border-radius: 30px;
  border-style: solid;
  color: $logo-blue;
  font-size: 22px;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 170px;
}


.button-link-text {
  color: $white;
}

.about-me-section, .goals-section, .currently-reading-section {
  display: table;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  width: 90%;
}

.about-me-text {
  font-size: 20px;
  padding-right: 0;
}

.emily-bio-pic {
  padding-right: 2%;
}


.button-links {
  padding-right: 5%;
  width: 100%;
}

.button-links > a .button {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 32%;
  zoom: 1;
}

.button {
  background-color: $logo-blue;
  font-size: 18px;
  height: 60px;
}

.tag-line {
  width: 100%;
}

.tagline {
  font-style: italic;
}

.about-me {
  padding-right: 1%;
}

.reading-photo {
  float: right;
  max-height: 450px;
  max-width: 400px;
  padding-left: 2%;
}

.book-title {
  font-style: italic;
}

.video {
  float: left;
  padding-right: 2%;
}

.bio-pic {
  float: right;
  margin-bottom: 5%;
  max-height: 600px;
  max-width: 47%;
  padding-right: 3%;
}

.bio-pic2 {
  float: left;
  max-height: 800px;
  max-width: 47%;
  padding-left: 3%;
}
