---
name: bio
url: /bio
---
<div class="grid-container">
  <h3>MORE ABOUT EMILY</h3><br>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fFYVwdj-u7s" frameborder="0" allowfullscreen></iframe>
  </div>

  <p class="bio-text">
    Hello, my name is Emily Ackman and I am running for School Committee in Ward One.
    I have built my career as an educator involved at all levels of education and school policy,
    and am excited to use my skills and experience to serve the students and families of Ward One,
    as well as the entire city of Somerville.<br><br>
    I was born and raised in Cambridge, where I attended public schools the entire time – from
    kindergarten through the end of high school. In high school, I was actually voted by my peers
    to be a student representative on the local school committee! While I was not a voting member
    then, I served as a student voice for the policies that were decided on by the committee – and
    I was expected to attend all the meetings. It was a wonderful experience for me and is
    something that I would like to see brought to the Somerville School Committee if elected.<br><br>
    After high school, I attended UMass Amherst, where I received my bachelors degree in Sociology.
    I was fortunate enough to be able to graduate college without debt between the scholarships
    I received, what my parents could afford, and campus jobs that helped offset my living expenses.
    UMass was a choice that I made because it was a great educational option, but also because
    my parents were financially savvy enough to guide me through college without debt. It is this
    experience that inspires me to support Somerville’s current financial literacy graduation requirement,
    but also to explore how financial literacy can be tied in at all grades. Because the younger
    kids understand what smart financial decisions look like, the stronger of a start they will have.<br><br>
    Once I graduated from UMass, I moved to Athens, Georgia, where I worked at the University of Georgia and received a Master’s
    Degree in Educational Leadership and Policy. Being from Massachusetts (where we have the best public schools in the country),
    it was a fascinating experience to be trained as a school administrator in a state where public schools are persistently
    underfunded and corporal punishment is still legal. As someone who is a strong proponent of teachers unions,
    I found myself often having to defend them during my classes in that “right to work” state. During my time in Georgia,
    I was trained as a Montessori educator and taught at a preschool. Experiencing first-hand the impact of
    high quality pre-k is where my belief in universal pre-kindergarten was first inspired.
    Offering strong pre-k options to all families in Somerville is something that I hope the
    Somerville School Committee will see fit to support and fund very soon.<br><br>
    After graduating from the University of Georgia, I moved to New York City, where I taught first & second grade at a
    diverse k-8 school, while completing a second Master’s Degree – this one in The Politics of Education from Columbia University.
    During my time there, I began to research education law, learning about the variability in school choice and voucher programs in different states.
    It was there that I learned the importance of political advocacy when it comes to state and federal laws that govern education –
    because these laws, which are often decided without the consideration of research-based best practices, can have a significant
    impact on the lives of teachers, students, and families.<br><br>
    Realizing how much I enjoy education research, I left New York to pursue a PhD in Education
    Policy and Evaluation from Arizona State University. I ended up moving there at a fascinating
    time for education policy in Arizona because the state was hit very hard by The Great Recession,
    with significant numbers of housing foreclosures directly and negatively impacting the rate of
    school taxation at the local level as well as immigration issues coming front and center as
    the state government passed SB 1070, which was – at the time – the broadest and most
    regressive immigration law passed in this country. I spent a lot of time protesting that
    law in marches and rallies, as well as working at the local level to enact policies that
    would support children of undocumented immigrants in their local public schools. It is this
    experience that makes me so proud to live in a sanctuary city because it means that all
    parents can be involved in their children’s schooling here regardless of their immigration status.<br><br>
    While in Arizona, I also served as a research consultant for a legislative panel that was
    looking at the state’s graduation requirements and whether or not the state standardized
    test should be maintained as it was. After months of research, I presented my findings to the
    legislative panel… and they did not adopt a single one of the recommendations that I highlighted.
    But that’s government. It is also a stark reminder to me as to why I am running for school
    committee. I want all of my teaching and education research experience to have a positive impact,
    and I know that will be possible as a member of the Somerville School Committee.<br><br>
    Because of the same massive tax and budget problems that harmed the k-12 public schools in Arizona, my academic experience at the state university was cut short. While in Arizona, the college of education I attended was dissolved for budgetary reasons and I had to leave before graduating.<br><br>
    Leaving Arizona fortunately brought me back to Massachusetts. When I moved back here, I immediately identified East Somerville as the place I wanted to set down roots because it has a strong and celebrated cultural diversity, which is very important to me. After renting here for less than a year, I bought a home, where my husband (who was my senior prom date in high school!) and I are now raising our two young children. We plan for them to attend the East Somerville Community School when they are old enough – hopefully getting into the Unidos program!<br><br>
    What enabled me to move back was a job as a policy analyst at the Massachusetts Department of Elementary & Secondary Education. During my time working for the state, I conducted research on teacher training and certification. I have maintained my relationships with many people at the department of education and would be happy to leverage those relationships on behalf of Somerville Public Schools as a member of the School Committee.<br><br>
    After leaving the department I finished my PhD while working as a district level administrator for Framingham Public Schools. As the Title I and Grants Director, it was my job to see that grant funding was put to use in order to best serve the varied needs of the low-income students in the district. Because of this job, I understand the politics of budgeting and will be sure to advocate for thoughtful use of our education dollars in Somerville. As the Title I Director, I worked with colleagues and the United Way to ensure that all public housing in Framingham had access to subsidized or free high speed internet. In the 21st Century, it is now a necessity for students to have access to high speed internet in their homes. It should be considered a utility and subsidized as other utilities are for families in public housing. That is something I would like to see supported by the school committee.<br><br>
    Once my PhD was complete, I accepted a position as a Postdoctoral Research Fellow at Harvard University, working on implementing, studying, and evaluating a summer reading program designed to prevent summer learning loss for low income 2nd through 5th graders. The underlying assumption of the program is that reading is foundational for the rest of learning – so if you are making sure that a kid’s reading skills stay strong over the summer, that kid can come to a new school year better prepared to learn. So much of the education gap between low- and middle or upper-income students happens over the summer months. This is why I am a strong advocate for robust, fun, and educational summer programs put on by the city, that are inexpensive or free. When learning is supported over the summer, students are more successful during the academic year.<br><br>
    While working at Harvard, I volunteered for the Christmas Tree Sale at Foss Park put on by the Next Wave/Full Circle School. It was a wonderful experience to support the kids and teachers during this fantastic fundraiser. During the time I worked with them, I was able to tour the school and see first-hand what a strong sense of community they have built to support many of the highest-need students in Somerville. I am also on the board of directors for East Somerville Main Streets – an organization committed to promoting and enhancing social connectedness within our neighborhood.<br><br>
    As an experienced educator and a trained education researcher – while all the policies that I support are grounded in my professional experience, they are also all based in current research-based best practices. I am proud of my robust education experience and would be honored to put it to work for the students and families of Ward One – and for all of Somerville.<br><br>
    Thank you.
  </p>
  <img class="bio-pic" alt="emily-ruby" ng-src="../assets/images/emily-r.jpg">
  <img class="bio-pic2" alt="emily-t" ng-src="../assets/images/emily-t.png">
</div>
