---
name: home
url: /
---

<div class="grid-container">
  <section class="logo-section">
    <img alt="logo" src="../assets/images/Ackman_logo.jpg">
  </section>
  <h2 class="tag-line">Emily Ackman for School Committee, Ward One</h2>
  <h2>Somerville, MA</h2>
  <section class="links-section">
    <h3>Join Us</h3>
    <div class="links">
      <h2>Emily Ackman is the only educator running for School Committee in Ward One.</h2>
      <button class="button">BUTTON</button>
      <button class="button">BUTTON</button>
      <button class="button">BUTTON</button>
      <button class="button">BUTTON</button>
    </div>
  </section>
  <section class="about-me-section">
    <div class="about-me">
      <h3>About Me</h3>
      <h4 class="about-me-text">I was born & raised in Cambridge, attending public schools from kindergarten through high school, then graduated from college at UMass Amherst.
        I am a mother, educator, a homeowner in Ward 1, and I am on the board of East Somerville Main Streets. I have over a decade of experience in public education at all levels,
        from student, to teacher, administrator, and now education researcher. My commitment to the families of Ward 1, and all of Somerville, is that I will advocate for policies that will benefit students and families in Ward 1.</h4>
    </div>
  </section>
  <section class="goals-section">
    <div class="goals">
      <h3>Policy Points</h3>
        <ul class="goals-text">
          <li>All children deserve high quality public education</li>
          <li>Improved communication and transparency for kindergarten school selection</li>
          <li>Universal pre-k in Somerville because all students deserve a strong start</li>
          <li>Teach coding and other 21st Century skills</li>
          <li>Homework before 5th grade should be only reading</li>
          <li>Teach financial literacy starting in elementary school</li>
          <li>Ensure high speed internet access at home for all students</li>
        </ul>
    </div>
  </section>
</div>
