---
name: home
url: /home
---
<header>
  <h1 class="ea-header">EMILY ACKMAN FOR SCHOOL COMMITTEE<br>SOMERVILLE, WARD ONE</h1>
  <div class="button-links">
    <a class="button-link-text" ui-sref="bio"><button class="button">MORE ABOUT EMILY</button></a>
    <a class="button-link-text" ng-href="https://www.facebook.com/emilyackmanforward1"><button class="button">FACEBOOK</button></a>
    <a class="button-link-text" ng-href="mailto:emilyackmanforward1@gmail.com"><button class="button">VOLUNTEER</button></a>
    <a class="button-link-text" ng-href="https://donorbox.org/emily-ackman"><button class="button">DONATE</button></a>
  </div>
</header>
<div class="grid-container">

  <div class="about-me-section">
      <h3>ABOUT EMILY</h3>
      <h4 class="tagline">Emily Ackman is the only educator running for School Committee in Ward One.</h4><br>
      <p class="about-me-text"><img style="float: left; max-height: 250px;" class ="emily-bio-pic" alt="emily-pic" src="../assets/images/emily.jpg">I was born & raised in Cambridge, attending public schools from kindergarten through high school, then graduated from college at UMass Amherst.
        I am a mother, educator, a homeowner in Ward 1, and I am on the board of East Somerville Main Streets. I have over a decade of experience in public education at all levels,
        from student, to teacher, administrator, and now education researcher. My commitment to the families of Ward 1, and all of Somerville, is that I will advocate for policies
        that will benefit students and families in Ward 1.
    <!-- </div> -->
    <!-- <div class="about-me-photo"> -->
      <br style="clear: both;">
      </p>
  </div><br>


  <div class="goals-section">
    <div class="goals-text-photo">
      <h3>POLICY POINTS</h3>
        <ul class="goals-text">
          <li><p>All children deserve high quality public education</p></li>
          <li><p>Improved communication and transparency for kindergarten school selection</p></li>
          <li><p>Universal pre-k in Somerville because all students deserve a strong start</p></li>
          <li><p>Teach coding and other 21st Century skills</p></li>
          <li><p>Homework before 5th grade should be only reading</p></li>
          <li><p>Teach financial literacy starting in elementary school</p></li>
          <li><p>Ensure high speed internet access at home for all students</p></li>
        </ul>
      <div class="goals-photo">
        <img alt="reading" src="../assets/images/reading.jpg">
      </div>
    </div>
  </div>

  <div class="currently-reading-section">
    <h3>CURRENTLY READING</h3>
    <!-- <div class="currently-reading"> -->
      <div class="currently-reading-text">
        <p><span class="book-title">Secret History of Wonder Woman,</span><span class="book-author"> by Jill Lepore</span></p>
        <p><span class="book-title">The Summer Slide: What We Know and Can Do About Summer Learning Loss, </span><span class="book-author">edited by by Karl Alexander, Sarah Pitcock, and Matthew Boulay</span></p>
        <p><span class="book-title">I Am Malala: How One Girl Stood Up for Education and Changed the World, </span><span class="book-author"> by Christina Lamb, Malala Yousafzai, and Patricia McCormick</span></p>
        <p><span class="book-title">Reign of Error: The Hoax of the Privatization Movement and the Danger to America's Public Schools, </span><span class="book-author"> by Dianne Ravitch</span></p>
        <p><span class="book-title">You Can't Touch My Hair: And Other Things I Still Have to Explain, </span><span class="book-author"> by Phoebe Robinson</span></p>
        <p><span class="book-title">The Secret of Childhood, </span><span class="book-author"> by Maria Montessori</span></p>
        <p><span class="book-title">Shrill: Notes from a Loud Woman, </span><span class="book-author"> by Lindy West</span></p>
      </div>
    <!-- </div> -->
  </div>
</div>
