---
name: home
url: /
---

<div class="grid-container">
  <section class="logo-section">
    <img alt="logo" ng-src="../assets/images/Ackman_logo.jpg">
  </section>
  <section class="tag-line-section">
    <h2 class="tagline">Emily Ackman is the only educator running for<br> School Committee in Ward One.</h2>
  </section><br>
  <h3>Join Us</h3>
  <section class="links-section">
    <div class="button-links">
      <a class="button-link-text" ng-href="https://www.facebook.com/emilyackmanforward1"><button class="button">MORE ABOUT EMILY</button></a>
      <a class="button-link-text" ng-href="https://www.facebook.com/emilyackmanforward1"><button class="button">FACEBOOK</button></a>
      <a class="button-link-text" ng-href="mailto:emilyackmanforward1@gmail.com"><button class="button">VOLUNTEER TO HELP</button></a>
      <a class="button-link-text" ng-href="https://donorbox.org/emily-ackman"><button class="button">DONATE</button></a>
    </div>
  </section>
  <h3>About Me</h3>
  <section class="about-me-section">
      <div class="text-divs">
      <div class="about-me">
      <h4 class="about-me-text">I was born & raised in Cambridge, attending public schools from kindergarten through high school, then graduated from college at UMass Amherst.
        I am a mother, educator, a homeowner in Ward 1, and I am on the board of East Somerville Main Streets. I have over a decade of experience in public education at all levels,
        from student, to teacher, administrator, and now education researcher. My commitment to the families of Ward 1, and all of Somerville, is that I will advocate for policies
        that will benefit students and families in Ward 1.</h4>
    </div>
    <div class="about-me-photo">
      <img alt="emily-reading" src="../assets/images/reading.jpg">
    </div>
  </div>
  </section>
  <h3>Policy Points</h3>
  <section class="goals-section">
    <div class="text-divs">
        <ul class="goals-text">
          <li>All children deserve high quality public education</li>
          <li>Improved communication and transparency for kindergarten school selection</li>
          <li>Universal pre-k in Somerville because all students deserve a strong start</li>
          <li>Teach coding and other 21st Century skills</li>
          <li>Homework before 5th grade should be only reading</li>
          <li>Teach financial literacy starting in elementary school</li>
          <li>Ensure high speed internet access at home for all students</li>
        </ul>
    </div>
  </section>
</div>
